css
.box-1{
    width: 416px;
    height: 178;
    background: rgba(61, 61, 61, 1);

}
.box-2{
    width: 416px;
    height: 194px;
    background: rgba(61, 61, 61, 1);
}
.box-3{
    width: 416px;
    height: 266px;
    background: rgba(61, 61, 61, 1);
}
.box-4{
    width: 848px;
    height: 408px;
    background: rgba(61, 61, 61, 1);
}
.box-5{
    width: 489px;
    height: 189px;
    background: rgba(61, 61, 61, 1);
}
.box-6{
    width: 343px;
    height: 264px;
    background: rgba(61, 61, 61, 1);
}
